$header-text-color: #ffffff;

[role=main], .main {
  background-image: url("/images/pattern2.jpg");
}
.header__content {
  background-image: url("/images/pattern2.jpg");
}

.header__content-claim p {
  color: $header-text-color;
}

.header__content-topmenu ul li,
.header__content-metamenu ul li {
  color: $header-text-color;
}

.header__content-topmenu ul li a,
.header__content-metamenu ul li a {
  color: $header-text-color;
  font-weight: normal;
}

.header__content-topmenu ul li a:hover,
.header__content-metamenu ul li a:hover {
  color: darken($header-text-color, 20%);
}

.header__content h3 {
  color: $header-text-color;
}

.header__top {
  background-color: #000;
}