<footer>
  <div class="container">
    <div class="grid">
      <div class="grid__col grid__col--1-of-6 footer__links">
        <ul>
          <li><a href="/pages/about">{{ _('About') }}</a></li>
          <li><a href="/pages/contact">{{ _('Contact') }}</a></li>
        </ul>
      </div>
      <div class="grid__col grid__col--1-of-6 footer__links">
        <ul class="footer-middle">
          <li><a href="https://github.com/openresearchdata">{{ _('Source code on Github') }}</a></li>
          <li><a href="http://ckan.org">{{ _('Developed with CKAN') }}</a></li>
        </ul>
      </div>
      <div class="grid__col grid__col--1-of-6 footer__links">
        <ul>
          <li><a href="http://docs.ckan.org/en/latest/api/index.html">{{ _('CKAN API') }}</a></li>
          <li><a href="https://okfn.org/">{{ _('Open Knowledge') }}</a></li>
        </ul>
      </div>
      <div class="grid__col grid__col--3-of-6 footer__text">
        <ul>
          {% if h.get_ordbasetheme_config('theme') == 'socialsci' %}
            <li><p>{{ _('Powered by') }} <a href="http://forscenter.ch">FORS</a>, {{ _('in collaboration with') }} <a href="https://www1.ethz.ch/id/about/sections/sis">ETH SIS</a> {{ _('and') }} <a href="http://www.dhlab.unibas.ch">DHLab</a></p></li>
          {% elif h.get_ordbasetheme_config('theme') == 'lifesci' %}
            <li><p>{{ _('Powered by') }} <a href="https://www1.ethz.ch/id/about/sections/sis">ETH SIS</a>, a <a href="http://www.isb-sib.ch">SIB group</a>, {{ _('in collaboration with') }} <a href="http://forscenter.ch">FORS</a> {{ _('and') }} <a href="http://www.dhlab.unibas.ch">DHLab</a></p></li>
          {% elif h.get_ordbasetheme_config('theme') == 'humanities' %}
            <li><p>{{ _('Powered by') }} <a href="http://www.dhlab.unibas.ch">DHLab</a>, {{ _('in collaboration with') }} <a href="https://www1.ethz.ch/id/about/sections/sis">ETH SIS</a> {{ _('and') }} <a href="http://forscenter.ch">FORS</a></p></li>
          {% endif %}
          <li><p class="footer-operated">{{ _('Operated by') }} <a href="http://ethz.ch">ETH Zürich</a></p></li>
          <li><p class="footer-mandated">{{ _('Mandated by') }} <a href="http://www.swissuniversities.ch/isci"><img src="/images/footer-logo.png"></a></p></li>
        </ul>
      </div>
    </div>
  </div>
  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>