{% ckan_extends %}

{% block flash %}
{% endblock %}

{% block toolbar %}
<div class="toolbar">
  <div class="grid">
    <div class="grid__col grid__col--1-of-4 header__content-topmenu toolbar-nav-left">
      <ul>
        {{ h.build_nav_main(
          ('search', _('Datasets')),
          ('group_index', _('Projects')),
        ) }}
      </ul>
    </div>
    <div class="grid__col grid__col--1-of-4 header__content-topmenu toolbar-title">
      <a href="{% url_for('/') %}">
        <div class="logo"><img src="{{ app_globals.site_logo }}" alt="Logo"></div>
        <h1>{{ app_globals.site_title }}</h1>
      </a>
    </div>
    <div class="grid__col grid__col--1-of-4 header__content-topmenu toolbar-search">
      <form class="module-content search-form" method="get" action="{% url_for controller='package', action='search' %}">
        <div class="search-input control-group">
          <input type="text" class="search" name="q" value="" autocomplete="off" placeholder="{{ _('Search') }}"/>
          <button type="submit" value="search">
            <i class="icon-search"></i>
          </button>
        </div>
      </form>
    </div>
    <div class="grid__col grid__col--1-of-4 header__content-topmenu toolbar-nav-right">
      <ul>
        <li><a href="{% url_for('/pages/about') %}">{{ _('About') }}</a></li>
        <li><a href="{% url_for('/pages/faq') %}">{{ _('FAQ') }}</a></li>
        <li><a href="{% url_for('/pages/contact') %}">{{ _('Contact') }}</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block pre_primary %}
<aside class="secondary span3">
  {#
  The secondary_content block can be used to add content to the
  sidebar of the page. This is the main block that is likely to be
  used within a template.

  Example:

  {% block secondary_content %}
  <h2>A sidebar item</h2>

  <p>Some content for the item</p>
  {% endblock %}
  #}
  {% block secondary_content %}{% endblock %}
</aside>
{% endblock %}

{% block secondary %}
{% endblock %}